.row-full{
    width: 425px;
    height: 110px;
    background-color: #606e7a; 
    float: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-transform: uppercase;
    border-radius: 1%;
   }
   .container{
    width: 100% !important;
    height: 130px;
    background-color: #434d57 !important;
    margin-top: -20px !important;
   }
   .box{
    border-radius: 1%;
    height: 30px;
    width: 175px;
    background-color: #434d57;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: 7px; 
    display: block;
    float: left;
   }
   p{
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-left: 10px !important;
    margin-top: 5px !important;
   }
   .multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }
  .btn{
    margin-left: 1250px !important;
    margin-top: -50px !important;
    border: 0px !important;
    border-radius: 0px !important;
  }
  .btn-default{
    background-color: darkgray !important;
    margin-top: -10px !important;
    border-radius: 0px !important;
    width: 69px;
  }
   .table{
     border: 1;
   } 
  
/* .container{
    background-color: rgb(237, 248, 248);
    display: flex;
   
    flex-flow: wrap;
}
span{
    margin: 10px 10px 10px 0px;
}
button{
    margin-bottom: 20px !important;
    margin-left: 10px !important;
}
.btn{
    margin-top: 20px;
}
img{
    margin-bottom: 20px;
    margin-left: 10px;
}
.arrange{
    display: inline-flex;
}
.card{
    margin-left: 60px;
    height: 280px;
    width: 200px;
    background: white;
    border: 3px solid grey;
}
  */